button {
    transition: width 1s;
    width: 100px;
    height: 100px; 
    background-color: #000000;
    color: white;
    position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -50px;
   margin-left: -100px;
    
  }
.txtwrite {
    color: red;
    font: 20pt Arial;
    text-align: center;
}